.filters {
    display:flex;
    justify-content:flex-end;
    align-items:baseline;
}

.filterSelect {
    width:250px;  
}

.projects {
    border-left: solid 2px var(--accent);
    height: 1100px;
}

.projectHeadBG {
    background-color: var(--light);
    display:flex;
    justify-content:space-between;
}

.projectDetails {
    height:1000px;
    overflow:auto;
}



@media screen and (min-width:300px) and (max-width: 768px) {
    .projects {
        z-index:1;
        border:none;
    }
}