.projects {
    border-left: solid 2px var(--accent);
    height: 1100px;
    overflow: auto;
}

.projectHeadBG {
    background-color: var(--light);
}

@media screen and (min-width:300px) and (max-width: 768px) {
    .projects {
        z-index:1;
        border:none;
    }
}