/* variables */
:root {
  --dark: #764832;
  --light: #E6FAFC;
  --accent: #36558f;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

/* global */

a {
  text-decoration:none ;
  color: var(--accent);
}

a i {
  color:var(--accent);
}

body {
  color:var(--accent) !important;
  background-color: var(--light);
  font-family: 'Inter', sans-serif !important;
}


html {
  background-color: var(--light);
}

h1, h2, h3, h4, h5 {
  font-family: 'Outfit', sans-serif;
}

h2 {
  color: var(--dark);
}

i {
  font-size:1.5vw;
  margin:2px 2px;
  color:var(--accent);
}

img, svg {
  vertical-align: baseline;
}

/* classes */
/* tints colored icons black and then adjusts to blue to match blue on site */
.blue {
  filter: brightness(0) saturate(100%) invert(32%) sepia(7%) saturate(6942%) hue-rotate(187deg) brightness(83%) contrast(79%);
}

.button {
  color:var(--accent);
  background-Color:var(--light);
  border:0;
  padding:10px;
  width:20%;
}

.button:hover {
  box-shadow:5px 5px 10px #4b2513;
}


.button:active {
  box-shadow:5px 5px 10px inset #4b2513;
}

.icon {
  width:1.3vw;
  height:auto;
  margin-right:.3em;
}

.imgBlock img {
  width:32%;
}

/* ids */

#animation_container {
  padding-left:10rem;
  width: 300px !important;
  position: relative;
  bottom: -2px;
  z-index:10;
}

#carouselRight {
  max-height:300px;
  /* float:right; */
  overflow:hidden
}

#carouselLeft {
  max-height:300px;
  float:left;
  overflow:hidden;
}

#root {
  background-color:var(--light);
}

/* media queries */

@media screen and (min-width:992px) and (max-width: 1100px) {
  #animation_container {
      display:none;
  }
}

@media screen and (max-width: 992px) {
 
i {
  font-size:3vw;
}

}

@media screen and (max-width: 768px) {
  i {
      font-size:3vw;
    }
}

@media screen and (max-width: 640px) {
  #animation_container {
      display:none;
  }
}

@media screen and (max-width: 576px) {
  i {
      font-size:4.5vw;
    }
}



