.contactMeContainer {
    border-left: solid 2px var(--accent);
}

.contactMeContainer i {
    font-size: 4vw;
    transition: all .5s;
}

.contactMeContainer i:hover {
    transform: scale(120%);
    color: var(--dark);
}

@media screen and (max-width: 992px) {
    .contactMeContainer i { 
      font-size:10vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .contactMeContainer i { 
      font-size:10vw;
    }
  }
  
  @media screen and (max-width: 640px) {
    .contactMeContainer i { 
      font-size:10vw;
    }
  }

  @media screen and (max-width: 576px) {
    .contactMeContainer i { 
      font-size:10vw;
    }
  }