.contactMeContainer {
    border-left: solid 2px var(--accent);
}

.contactMeContainer i {
    font-size: 4vw;
    transition: all .5s;
}

.contactMeContainer i:hover {
    transform: scale(120%);
    color: var(--dark);
}