.projectFeat {
    height: 400px;
    width: 47%;
    border: 5px solid var(--dark);
    background-position: center, 0 0, center;
    background-size: cover, 100% 300%, cover;
    background-blend-mode: luminosity, multiply;
    background-repeat: no-repeat;
    overflow: revert;
    box-shadow:0 0 0 0 var(--darkshadow);
    transition: box-shadow .7s ease-out, scale .5s ease-out, background-position .3s;

}

.projectFeatTitle {
    position: relative;
    top: -2px;
    left: -2px;
    color: var(--light);
    background-color: var(--dark);
    transition: all .5s;
    height: 10rem;
    z-index:10;
}

.projectFeatTitle p:nth-child(2) {
    font-style: italic;
    font-size: .8rem;
}

.projectTech {
    position: relative;
    bottom: -2.5rem;
    right: -5px;
    width: 50%;
    background-color: var(--light);
    border: 5px solid var(--accent);
    height: 5rem;
    /* box-shadow: 0 0 0 0 var(--darkshadow); */
    transition: all .5s cubic-bezier(.8, .05, .91, .68);
    transform: rotateX(90deg);
    
}

.projectFeat:hover .projectTech {
    transform: rotateX(0deg);
    box-shadow: 0 0 10px 10px var(--darkshadow)
}


.projectFeat:hover {
    border-color: var(--accent);
    background-position: center, 0% 100%, center;
    border-color: var(--accent);
    box-shadow: 0 0 10px 10px var(--darkshadow);
    scale: 104%;
}

.projectFeat:hover .projectFeatTitle {
    background-color: var(--accent);

}

/* classes for project background */

.codeQuiz {
    background-image: url(../../images/Coding\ Quiz\ Question\ example.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/Coding\ Quiz\ Question\ example.jpg);
}


.csssnips {
    background-image: url(../../images/css_snippet_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/css_snippet_bg.jpg);
}


.constell {
    background-image: url(../../images/constellation\ background.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/constellation\ background.jpg);
}

.git {
    background-image: url(../../images/tech\ background\ image.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/tech\ background\ image.jpg);

}

.migrate {
    background-image: url(../../images/migrate-screenschot.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/migrate-screenschot.jpg);

}

.tds {
    background-image: url(../../images/foodie_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/foodie_bg.jpg);

}

.musing {
    background-image: url(../../images/musing_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/musing_bg.jpg);

}

.hoa {
    background-image: url(../../images/hoa_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/hoa_bg.jpg);

}

.playdate {
    background-image: url(../../images/Play_Date_porfolio_shot_v1.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/Play_Date_porfolio_shot_v1.jpg);
}

.garden2 {
    background-image: url(../../images/garden2_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/garden2_bg.jpg);

}

.scribl {
    background-image: url(../../images/scrible_notes_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/scrible_notes_bg.jpg);

}

.weatherDash {
    background-image: url(../../images/weather_dash_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/weather_dash_bg.jpg);
}

.wg {
    background-image: url(../../images/weird_girls_thumb.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/weird_girls_thumb.jpg);
}

.wordguess {
    background-image: url(../../images/word_guess_bg.jpg), linear-gradient(0deg, white 33%, black 66%), url(../../images/word_guess_bg.jpg);
}

/* Media Queries */

@media screen and (max-width: 992px) {
    .projectFeat {
        width:90%;
    }
    .projectFeatTitle {
        font-size:.9em;
  }
}