.projectFeat {
    height: 400px;
    width: 47%;
    /* border: 5px solid var(--dark); */
    background-position: center, 0 0, center;
    background-size: cover, 100% 300%, cover;
    background-blend-mode: luminosity, multiply;
    background-repeat: no-repeat;

    overflow: revert;
    /* box-shadow: 0 0 1px 2px var(--darkshadow); */
    transition: box-shadow .6s ease-out, scale .4s ease-out
    , background-position .3s, height .3s;
    cursor:pointer;
}

.projectFeatTitle {
    position: relative;
    /* top: -2px; */
    /* left: -2px; */
    color: var(--light);
    background-color: var(--dark);
    transition: all .5s;
    height: 5rem;
    z-index:10;
}

.projectFeatTitle p:nth-child(2) {
    font-style: italic;
    font-size: .8rem;
}

.projectTech {
    position: relative;
    /* bottom: -2.5rem; */
    /* right: -5px; */
    top:-3rem;
    /* width: 50%; */
    background-color: var(--light);
    border: 3px solid var(--accent);
    height: auto;
    /* transition: all .5s cubic-bezier(.8, .05, .91, .68); */
    transition: all .5s;
    transform: rotateX(90deg);
    padding:5px 5px;
 
}

.projectFeat:hover .projectTech {
    transform: rotateX(0deg);
    top:-2px;
    /* box-shadow: 0 0 6px 4px var(--darkshadow) */
}


.projectFeat:hover {
    border-color: var(--accent);
    background-position: center, 0% 100%, center;
    border-color: var(--accent);
    box-shadow: 0 0 4px 2px var(--darkshadow);
    scale: 102%;
}

.projectFeat:hover .projectFeatTitle {
    background-color: var(--accent);

}

/* classes for project background */

.codeQuiz {
    background-image: url(../../images/Coding\ Quiz\ Question\ example.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/Coding\ Quiz\ Question\ example.jpg);
    
}

.CELL {
    background-image: url(../../images/CELL_hqdefault.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/Coding\ Quiz\ Question\ example.jpg);
}


.csssnips {
    background-image: url(../../images/css_snippet_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/css_snippet_bg.jpg);
}


.constell {
    background-image: url(../../images/constellation\ background.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/constellation\ background.jpg);
}

.git {
    background-image: url(../../images/tech\ background\ image.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/tech\ background\ image.jpg);

}

.migrate {
    background-image: url(../../images/migrate-screenschot.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/migrate-screenschot.jpg);

}

.tds {
    background-image: url(../../images/foodie_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/foodie_bg.jpg);

}

.musing {
    background-image: url(../../images/musing_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/musing_bg.jpg);

}

.hoa {
    background-image: url(../../images/hoa_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/hoa_bg.jpg);

}

.playdate {
    background-image: url(../../images/Play_Date_porfolio_shot_v1.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/Play_Date_porfolio_shot_v1.jpg);
}

.garden2 {
    background-image: url(../../images/garden2_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/garden2_bg.jpg);

}

.scribl {
    background-image: url(../../images/scrible_notes_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/scrible_notes_bg.jpg);

}

.weatherDash {
    background-image: url(../../images/weather_dash_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/weather_dash_bg.jpg);
}

.wg {
    background-image: url(../../images/weird_girls_thumb.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/weird_girls_thumb.jpg);
}

.wheezy {
    background-image: url(../../images/wheezy_main.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/wheezy_main.jpg);
}
.wordguess {
    background-image: url(../../images/word_guess_bg.jpg), linear-gradient(0deg, white 33%, grey 66%), url(../../images/word_guess_bg.jpg);
}

/* Media Queries */

@media screen and (max-width: 1365px) {
    .projectFeat {
        width:90%;
    }
    .projectFeatTitle {
        font-size:.9em;
  }
}

@media screen and (min-width:2500px) {

    .projectFeat {
      height:600px;
    }
    /* .projectTech {
      height:7em;
      bottom:0;
    } */
  }

  @media screen and (max-width:450px) {
    .projectFeatTitle {
        height:6rem;
    }
}