.projectFeat {
    height: 400px;
    width: 47%;
    border: 2px solid var(--dark);
    background-position: center, 0 0, center;
    background-size: cover, 100% 300%, cover;
    background-blend-mode: luminosity, multiply;
    background-repeat: no-repeat;
    opacity: 1;
    overflow: revert;
    /* box-shadow: 0 0 1px 2px var(--darkshadow); */
    transition: box-shadow .6s ease-out, scale .4s ease-out, background-position .3s, height .3s;
    cursor: pointer;
}

.projectFeatTitle {
    position: relative;
    /* top: -2px; */
    /* left: -2px; */
    color: var(--light);
    background-color: var(--dark);
    transition: all .5s;
    height: 5rem;
    z-index: 10;
}

.projectFeatTitle p:nth-child(2) {
    font-style: italic;
    font-size: .8rem;
}

.projectTech {
    position: relative;
    top: -3rem;
    background-color: var(--light);
    border: 3px solid var(--dark);
    height: auto;
    transition: all .5s;
    transform: rotateX(90deg);
    padding: 5px 5px;

}

.projectFeat:hover .projectTech {
    transform: rotateX(0deg);
    top: -2px;
    border: 3px solid var(--accent);
    /* box-shadow: 0 0 6px 4px var(--darkshadow) */
}


.projectFeat:hover {
    border-color: var(--accent);
    background-position: center, 0% 100%, center;
    border-color: var(--accent);
    box-shadow: 0 0 4px 2px var(--darkshadow);
    scale: 102%;
}

.projectFeat:hover .projectFeatTitle {
    background-color: var(--accent);

}

/* Classes for react transition group to animation in and out with state change */

.project-enter {
    opacity: 0;
}

.project-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.project-exit {
    opacity: 1;
}

.project-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* classes for project background */

.CARY {
    background-image: url(../../images/CARY_thumb.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/CARY_thumb.webp);

}

.codeQuiz {
    background-image: url(../../images/Coding\ Quiz\ Question\ example.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/Coding\ Quiz\ Question\ example.webp);

}

.CELL {
    background-image: url(../../images/CELL_hqdefault.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/CELL_hqdefault.webp);
}

.softlife {
    background-image: url(../../images/softlife_home.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/softlife_home.webp);

}


.csssnips {
    background-image: url(../../images/css_snippet_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/css_snippet_bg.webp);
}


.constell {
    background-image: url(../../images/constellation\ background.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/constellation\ background.webp);
}

.git {
    background-image: url(../../images/tech\ background\ image.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/tech\ background\ image.webp);

}

.migrate {
    background-image: url(../../images/migrate-screenschot.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/migrate-screenschot.webp);

}

.tds {
    background-image: url(../../images/foodie_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/foodie_bg.webp);

}

.musing {
    background-image: url(../../images/musing_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/musing_bg.webp);

}

.hoa {
    background-image: url(../../images/hoa_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/hoa_bg.webp);

}

.luxe {
    background-image: url(../../images/luxecavallo_home.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/luxecavallo_home.webp);

}

.playdate {
    background-image: url(../../images/Play_Date_porfolio_shot_v1.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/Play_Date_porfolio_shot_v1.webp);
}

.garden2 {
    background-image: url(../../images/garden2_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/garden2_bg.webp);

}

.scribl {
    background-image: url(../../images/scrible_notes_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/scrible_notes_bg.webp);

}

.weatherDash {
    background-image: url(../../images/weather_dash_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/weather_dash_bg.webp);
}

.wg {
    background-image: url(../../images/weird_girls_thumb.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/weird_girls_thumb.webp);
}

.wheezy {
    background-image: url(../../images/wheezy_main.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/wheezy_main.webp);
}

.wordguess {
    background-image: url(../../images/word_guess_bg.webp), linear-gradient(0deg, white 33%, grey 66%), url(../../images/word_guess_bg.webp);
}

/* Media Queries */

@media screen and (max-width: 1365px) {
    .projectFeat {
        width: 90%;
    }

    .projectFeatTitle {
        font-size: .9em;
    }
}

@media screen and (min-width:2500px) {

    .projectFeat {
        height: 600px;
    }

  
}

@media screen and (max-width:450px) {
    .projectFeatTitle {
        height: 6rem;
    }
}

@media screen and (max-width:768px) {
    .projectTech {
        top:0;
        display:block;
        transform:none;
    }
}