i.detailsIcon {
    font-size:1.3em;
    display:block;
    padding:0 !important;
    
}

.detailsLinks {
    width:100%;
}

/* .livePath, .gitPath {
    width:48%;
} */

.livePath div,
.gitPath div {
    border: 1px solid var(--accent);
    scale: 1;
    transition: all .5s;
    padding: 1em;
    width: 100%;
    background-color: var(--light);
}

.livePath:hover div,
.gitPath:hover div {
    scale: 101%;
    /* border: 2px solid var(--accent); */
    box-shadow: 0 0 3px var(--darkshadow);
}

.modal-body a {
    color: var(--accent);
}

.modal-body {
    background-color: var(--light);
}

.modal-header {
    background-color: var(--accent);
    color: var(--light);
}

.modal-footer {
    background-color: var(--light) !important;
    justify-content: center !important;
}

.imgBlock {
    flex-wrap:wrap;
    min-height:200px;
}

.imgBlock img {
    transition: all .5s;
    border:1px solid var(--accent);
    scale:1;
    /* aspect-ratio: 3/2;
    background-size:cover */
}

.imgBlock img:hover {
    cursor:pointer;
}

.imgBlock img.zoomed {
    border:3px solid var(--accent);
    border-radius:5px;
    z-index:20;
    aspect-ratio:unset;
   transform: scale(2.5);
}